html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-justified {
    text-align: justify !important;
}

.indent {
    width: 1.5em !important;
    display: inline-block;
}