@using Business.Models
@model PassengerModel

@{
    var title = $"Edit a passenger {Model.FullName}";
    ViewData["Title"] = title;
}

<div class="row py-3">
    <div class="col-8 offset-2">
        @if (!(TempData[Constants.ErrorFieldName] is null))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  @TempData[Constants.ErrorFieldName]
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
        <h2>@title</h2>
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="PassportCode" class="control-label"></label>
                <input asp-for="PassportCode" class="form-control"/>
                <span asp-validation-for="PassportCode" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control"/>
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BirthDate" class="control-label"></label>
                <input type="date" asp-for="BirthDate" class="form-control"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="InternallyWanted"/>
                <label class="form-check-label" asp-for="InternallyWanted"></label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="InternationallyWanted"/>
                <label class="form-check-label" asp-for="InternationallyWanted"></label>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="javascript:history.go(-1)" title="cancel changes (back)" class="btn btn-warning">Cancel changes</a>
            </div>
        </form>
    </div>
</div>
