@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <div class="d-flex justify-content-center">
        <img src="~/img/airport.jpg" alt="Airport image" height="400px"/>
    </div>
    <p class="text-justified"><br />Web application by Nikita Chernikov on the topic 
        <strong>"33. Airport"</strong> (Databases Coursework). <br />
        Here you can see CRUD operations on all database tables.<br /><br />
        </p>
</div>
