@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <div class="d-flex justify-content-center">
        <img src="~/img/airport.jpg" alt="Airport image" height="400px"/>
    </div>
    <p class="text-justified"><br />Web application by Nikita Chernikov on the topic 
        <strong>"33. Airport"</strong> (Databases Coursework). <br />
        Here you can see CRUD operations on all database tables.<br /><br />
        </p>
    <h4 class="text-justified">Details:</h4>
    <h5 class="text-justified">33. Облік пасажирів в аеропорту</h5>
    <p class="text-justified" style="margin-bottom: 0">
        <span class="indent"></span>У аеропорту існує два термінали: термінал А для внутрішніх рейсів і термінал Б – для
міжнародних. Пасажир прибуває до аеропорту і стає на реєстрацію до відповідного
терміналу. При реєстрації перевіряються документи і авіаквиток пасажира, при
міжнародному перельоті додатково перевіряється віза пасажира. Під час реєстрації
додатково перевіряється, чи не є пасажир у внутрішньому або міжнародному розшуку
(Інтерпол), при необхідності інформуються відповідні органи.<br />
<span class="indent"></span>В разі вдалої реєстрації відбувається оформлення і перевірка багажу. Якщо об'єм або
вага багажу пасажира перевищує припустимі норми, то виписується квитанція на додаткову
оплату перевезення.<br />
<span class="indent"></span>За 10 хвилин до відправки рейса реєстрація пасажирів припиняється, формується
остаточний список пасажирів і багажу. На підставі сформованих списків власники
авіакомпаній приймають рішення про скорочення або збільшення числа рейсів:
</p>
<ul>
    <li>якщо кількість пасажирів менше заданої норми рентабельності рейсу, то
приймається рішення по скороченню кількості рейсів.</li>
    <li>якщо літак завантажений на 95%, то розглядається варіант по збільшенню
частоти польотів рейсів у даному напрямі.</li>
</ul>
</div>
